/* Colours */ 
$color-primary: #540079;
$color-primary-dark: #280039;
$color-dark-grey: #2d3032;
$color-light-grey: #e6e6e6;
$color-white: white;
$color-error: #B60000;
$color-success: #009200;

/* Typography */
$font-size-xxl: 7.594rem;
$font-size-xl: 5.063rem;
$font-size-l: 3.375rem;
$font-size-m: 2.25rem;
$font-size-s: 1.5rem;
$font-size-xs: 0.667rem;
$font-size-default: $font-size-s;

$font-weight-x-bold: 800;
$font-weight-bold: 700;
$font-weight-semi: 600;
$font-weight-regular: 400;
$font-weight-light: 200;

$font-family-body: 'Raleway', sans-serif;
$font-family-heading: 'Open Sans', sans-serif;